<section class="container">
  <div class="wrapper" *ngIf="post$ | async as post; else loading">
    <div class="title">
      <h2>{{post.title}}</h2>
      <button
        mat-raised-button
        class="btn"
        [routerLink]="['/main/home']">Home</button>
    </div>
    <div class="body">
      <p>{{post.body}}</p>
    </div>
    <div class="author">
      <span>Name</span>
      <small>@mail</small>
    </div>
  </div>
  <mat-card class="comment">
    <mat-card-header>
      <mat-card-title>@Mail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, omnis.
      </p>
    </mat-card-content>
  </mat-card>
</section>
<ng-template #loading>
  <p class="text-center">Загружаю пост...</p>
</ng-template>
